/* home.css */

.page {
  display: block;
  width: 100%;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 160px 60px 120px 60px;
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}
