.hero_main {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .planet-3D {
    position: absolute;
    inset: 0;
    pointer-events: none;
    user-select: none;
    z-index: 1;
  }

  .content {
    position: absolute;
    /* AJUSTE 1: Bajamos la posición vertical del 33% al 45% */
    /* Esto despega el título del Navbar */
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    max-width: 900px;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    z-index: 10;

    h1 {
      font-weight: 500;
      text-wrap: balance;

      /* AJUSTE 2: Reducimos el interlineado a 0.95 */
      /* Esto junta los renglones del título */
      line-height: 0.8;

      margin: 0;
    }

    p {
      max-width: 460px;
      margin: 0;
      opacity: 0.8;
    }

    .cta_btn {
      margin-top: 0.5rem;
      font-size: 1.1rem !important;
      padding: 0.8rem 2rem;
      background-color: #0e0e0c;
      color: white;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      box-shadow: inset 0 4px 2px -1px rgba(255, 255, 255, 0.1),
        0 10px 20px -5px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s, box-shadow 0.2s;
    }

    .cta_btn:hover {
      transform: translateY(-2px);
      box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15);
    }
  }
}
